{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->

{% block content %} <!-- Начало блока content, который будет вставлен в блок content базового шаблона -->
<p>Привет! Меня зовут Расулов Бахадыр, и я создатель этого проекта по созданию интернет-магазина. Я занимаюсь web-разработкой и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.</p> <!-- Описание автора проекта -->
<p>Я изучаю web-разработку уже несколько лет и мой проект по созданию интернет-магазина является частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать максимально полезный и удобный магазин.</p> <!-- Описание опыта автора и цели проекта -->
<p>Если вы хотите связаться со мной, то можете написать мне на почту или посетить мою страницу в социальных сетях, где я буду рад ответить на ваши вопросы и обсудить возможности сотрудничества. Ссылки на них расположены ниже.</p> <!-- Предложение связаться с автором -->
<p>Спасибо, что посетили мой проект по созданию интернет-магазина! Другие мои проекты можно также посмотреть на моей странице GitHub</p> <!-- Благодарность посетителям и упоминание других проектов на GitHub -->
{% endblock %} <!-- Конец блока content -->
