{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->

{% block content %} <!-- Начало блока content, который будет вставлен в блок content базового шаблона -->
<p>Сайт был создан с помощью фреймворка Django и библиотек для него. База данных реализована на SQLite, а дизайн сайта был разработан с использованием HTML, CSS и JS.</p> <!-- Описание технологий, использованных для создания сайта -->
<p>Я работал над тем, чтобы сайт был максимально быстрым и удобным для пользователей. Фреймворк Django был выбран для создания надежного и безопасного веб-приложения, а база данных SQLite позволяет эффективно хранить и управлять информацией.</p> <!-- Обоснование выбора технологий и их преимуществ -->
<p>Дизайн основан на HTML, CSS и JS, которые использовались для создания красивого и функционального пользовательского интерфейса. Я постоянно работаю над улучшением дизайна сайта, чтобы предоставить пользователям наилучший опыт.</p> <!-- Описание работы над дизайном и улучшением пользовательского интерфейса -->
<p>Если у вас есть какие-либо вопросы или предложения по улучшению сайта, пожалуйста, свяжитесь со мной по ссылкам снизу. Я буду рад услышать ваше мнение и помочь вам в любых вопросах!</p> <!-- Предложение пользователям связаться с автором и поделиться мнением -->
{% endblock %} <!-- Конец блока content -->
