{% extends 'base.html' %}  <!-- Наследование от базового шаблона -->

{% load static %}  <!-- Загрузка статических файлов -->

{% block css %}  <!-- Определение блока для подключения CSS -->
<link rel="stylesheet" href="{% static "assets/css/users.css"%}" />  <!-- Подключение пользовательского CSS -->
{% endblock %}

{% block content %}  <!-- Определение блока содержимого страницы -->
  <h1>Забыли пароль?</h1>  <!-- Заголовок страницы -->

  <p>Введите почту в форму и мы вышлем Вам на нее инструкцию по смене пароля.</p>  <!-- Текстовое описание для пользователя -->

  <form method="POST" action="{% url 'users:password_reset_form' %}">  <!-- Форма для сброса пароля -->
    {% csrf_token %}  <!-- CSRF-токен для безопасности формы -->
    {% for field in form %}  <!-- Цикл по полям формы -->
    <p>
    <div class="form-field">
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }}  <!-- Отображение метки и поля формы -->
    </div>
    {% if form.errors %}  <!-- Проверка наличия ошибок в форме -->
    <div class="alert alert-danger">  <!-- Блок для отображения ошибок -->
        {% for error in field.errors %}  <!-- Цикл по ошибкам поля -->
          <p>{{ error }}</p>  <!-- Вывод текста ошибки -->
        {% endfor %}
    </div>
  {% endif %}
  </p>
  {% endfor %}
    <input type="submit" value="Отправить">  <!-- Кнопка отправки формы -->
  </form>
{% endblock %} <!-- Закрываем блок контента -->
