{% extends 'base.html' %}
<!-- Наследование от базового шаблона base.html -->
{% load static %}

{% block content %}
<!-- Открываем блок контента, который будет заменять блок content из базового шаблона base.html -->

    <h1>Пароль изменен успешно!</h1>
    <!-- Заголовок первого уровня, сообщающий об успешной смене пароля -->

    <p>Установлен новый пароль. Вы можете <a href="{% url 'users:login' %}">войти</a>.</p>
    <!-- Параграф с инструкцией для пользователя, предлагающий войти в систему с новым паролем -->

{% endblock %}
<!-- Закрываем блок content -->
