{% extends "base.html" %}
<!--Расширяем базовый шаблон 'base.html', который определяет общий макет страницы.-->

{% load static %}
<!--Загружаем статические файлы, такие как CSS, используемые в этом шаблоне.-->

{% block css %}
<!-- Открываем блок для CSS, который будет заменять блок css из базового шаблона base.html -->
<link rel="stylesheet" href="{% static "assets/css/users.css" %}" />
<!-- Подключаем таблицу стилей users.css из папки static/assets/css -->
{% endblock %}
<!-- Закрываем блок css -->

{% block content %}
<!-- Открываем блок content, который будет заменять блок content из базового шаблона base.html -->
    {% if validlink %}
        <h1>Установите новый пароль</h1>
        <!-- Заголовок первого уровня, приглашающий установить новый пароль -->

        <form method="POST">
            {% csrf_token %}
            <!-- Защита от CSRF-атак -->

            {% for field in form %}
                <p>
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }}
                    </div>
                    <!-- Вывод полей формы для ввода нового пароля -->

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- Вывод сообщений об ошибках, если таковые есть -->

                </p>
            {% endfor %}

            <input type="submit" value="Установить">
            <!-- Кнопка для отправки формы с новым паролем -->

        </form>
    {% else %}
        <p>Ссылка изменения пароля недействительна, скорее всего она уже была использована. Пожалуйста, запросите смену пароля еще раз.</p>
        <!-- Параграф, сообщающий пользователю о недействительной ссылке для смены пароля -->
    {% endif %}
{% endblock %}
<!-- Закрываем блок content -->
