{% extends 'base.html' %}
<!--Расширяем базовый шаблон 'base.html', который определяет общий макет страницы.-->

{% load static %}
<!--Загружаем статические файлы, такие как CSS, используемые в этом шаблоне.-->

{% block css %}
<!-- Открываем блок для CSS, который будет заменять блок css из базового шаблона base.html -->
<link rel="stylesheet" href="{% static "assets/css/users.css" %}" />
<!-- Подключаем таблицу стилей users.css из папки static/assets/css -->
{% endblock %}
<!-- Закрываем блок css -->

{% block content %}
<!-- Открываем блок content, который будет заменять блок content из базового шаблона base.html -->

<h1>Смена пароля</h1>
<!-- Заголовок первого уровня, сообщающий пользователю о намерении смены пароля -->

<p>Заполните форму для смены пароля.</p>
<!-- Параграф, содержащий инструкцию для пользователя -->

<form method="POST" action="{% url 'users:password_change' %}">
<!-- Открываем форму с методом POST для отправки данных на адрес, указанный в users:password_change в urls.py -->
{% csrf_token %}
<!-- Вставляем CSRF-токен для защиты от CSRF-атак -->

{% for field in form %}
<!-- Начинаем цикл для отображения полей формы из переменной form -->

<p>
<!-- Открываем абзац для каждого поля формы -->

<div class="form-field">
<!-- Открываем блок div с классом form-field для стилизации поля формы -->

<label for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }}
<!-- Выводим метку (label) для поля формы и само поле, используя метаданные поля -->

</div>
<!-- Закрываем блок div form-field -->

{% if form.errors %}
<!-- Проверяем наличие ошибок в форме -->

<div class="alert alert-danger">
<!-- Открываем блок для сообщений об ошибках с классом alert alert-danger -->

{% for error in field.errors %}
<!-- Начинаем цикл для перебора ошибок в поле -->

<p>{{ error }}</p>
<!-- Выводим каждую ошибку в абзаце -->

{% endfor %}
<!-- Закрываем цикл for -->

</div>
<!-- Закрываем блок div alert alert-danger -->

{% endif %}
<!-- Закрываем условие проверки наличия ошибок -->

</p>
<!-- Закрываем абзац для текущего поля формы -->

{% endfor %}
<!-- Закрываем цикл for для полей формы -->

<input type="submit" value="Сменить пароль">
<!-- Кнопка для отправки формы на сервер -->

</form>
<!-- Закрываем форму -->

{% endblock %}
<!-- Закрываем блок content -->
