{% load static %} <!-- Загрузка тега static для работы с статическими файлами -->

<header id="header"> <!-- Начало верхнего меню с уникальным идентификатором header -->
    <div class="inner"> <!-- Внутренняя область верхнего меню -->
        <!-- Logo -->
        <a href="{% url 'store:home' %}" class="logo"> <!-- Ссылка на главную страницу с классом logo -->
            <span class="symbol"><img src="{% static "images/logo.svg" %}" alt="" /></span> <!-- Иконка логотипа -->
            <span class="title">Hype Shop</span> <!-- Текстовое название логотипа -->
        </a>
        <!-- Nav -->
        <nav> <!-- Навигационное меню -->
            <ul> <!-- Список элементов меню -->
                <li><a href="#menu">Menu</a></li> <!-- Элемент меню "Menu" -->
            </ul>
            <br> <!-- Разрыв строки -->
            <ul class="actions"> <!-- Контейнер для действий, например, ссылок на корзину и профиль -->
                <li>
                    <a href="{% url 'cart:cart' %}"> <!-- Ссылка на страницу корзины -->
                        <img src="{% static "images/cart.jpg" %}" width="40" height="40" > <!-- Иконка корзины -->
                    </a>
                    <br> <!-- Разрыв строки -->
                    <a href="{% url 'users:profile' %}"> <!-- Ссылка на профиль пользователя -->
                        <img src="{% static "images/profile.png" %}" width="40" height="40" > <!-- Иконка профиля -->
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Menu -->
<nav id="menu"> <!-- Меню с уникальным идентификатором menu -->
    <h2>Меню</h2> <!-- Заголовок меню -->
    <ul> <!-- Список элементов меню -->
        <li><a href="{% url 'store:tag_list' %}">Все категории</a></li> <!-- Элемент меню для всех категорий -->
        <li><a href="{% url 'about:about_project' %}">О проекте</a></li> <!-- Элемент меню для страницы "О проекте" -->
        <li><a href="{% url 'about:about_me' %}">Обо мне</a></li> <!-- Элемент меню для страницы "Обо мне" -->
    </ul>
</nav>
