{% extends 'base.html' %} <!-- Наследуем шаблон base.html -->

{% block content %} <!-- Начало блока content, который будет вставлен в блок content базового шаблона -->
<h2>Спасибо за ваш заказ!</h2> <!-- Заголовок с благодарностью за заказ -->

<p><strong>Содержимое заказа:</strong> <!-- Подзаголовок для списка товаров в заказе -->
{% for item in order.items.all %} <!-- Начало цикла для отображения всех товаров в заказе -->
  <li>{{ item.quantity }} х {{ item.item.title }}</li> <!-- Отображение количества и названия каждого товара -->
{% endfor %} <!-- Конец цикла -->
<br> <!-- Перенос строки -->

<p>На сумму <b>{{ order.total_price }}</b> рублей.</p> <!-- Отображение общей стоимости заказа -->

<p><strong>Привезем по адресу:</strong></p> <!-- Подзаголовок для отображения адреса доставки -->
<p>{{ order.shipping_address }}</p> <!-- Отображение адреса доставки -->

<div>
  <a href="{% url 'users:user_orders' %}" class="button">Мои заказы</a> <!-- Кнопка для перехода к списку заказов пользователя -->
</div>
{% endblock %} <!-- Конец блока content -->
