{% extends "base.html" %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

{% load static %}
<!-- Загрузка тега static для работы сo статическими файлами -->

<h2>{{ item.title }}</h2>
<!-- Вывод заголовка товара -->

<p>Товар принадлежит к категории
<!-- Параграф с информацией о категории товара -->

{% for tag in item.tags.all %}
    <!-- Цикл для вывода всех тегов товара -->
    <b><a href="{% url 'store:tag_details' tag.slug %}">{{ tag }}</a></b>
    <!-- Ссылка на страницу с деталями тега -->
    {% if not forloop.last %},{% endif %}
    <!-- Если это не последний тег, выводим запятую -->
{% endfor %}
</p>

{% if item.image %}
    <!-- Проверка наличия изображения товара -->
    <p><span class="image left"><img src="{{ item.image.url }}" alt="" style="max-width: 200px; max-height: 200px;"/>
    <!-- Вывод изображения товара с ограничением размеров -->
{% else %}
    <!-- Если изображение отсутствует, выводим запасное изображение -->
    <p><span class="image left"><img src="{% static "images/pic14.jpg" %}" alt="" />
{% endif %}
    <a href="{% url 'cart:add_to_cart' item.slug %}" class="button small" style="margin-top:10px;">
        Добавить в корзину</a>
    <!-- Кнопка для добавления товара в корзину -->
    </span>
    {{ item.description }}{{ item.description }}
    <!-- Описание товара -->
</p>

{% if item.old_price %}
    <!-- Проверка наличия старой цены -->
    <p>Старая цена: <s>{{ item.old_price }} рублей</s>
    <!-- Вывод старой цены со скидкой -->
    Новая цена: <b>{{ item.price }}</b> рублей </p>
    <!-- Вывод новой цены без скидки -->
{% else %}
    <!-- Если нет старой цены, выводим только текущую цену -->
    <p>Цена: <b>{{ item.price }}</b> рублей </p>
{% endif %}
<!-- Конец условного блока для проверки наличия старой цены -->

{% endblock %}
<!-- Конец блока content -->
