{% extends "base.html" %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

{% load static %}
<!-- Загрузка тега static для работы с статическими файлами -->

    <h2>{{ tag.name }}</h2>
    <!-- Заголовок страницы с названием тега -->

    Количество товаров:&ensp;{{ tag.items.count }}
    <!-- Вывод количества товаров, относящихся к данному тегу -->

    <p><a href="{% url 'store:tag_list'%}"><b>Все категории</b></a></p>
    <!-- Ссылка на страницу со всеми категориями товаров -->

    <hr>
    <!-- Горизонтальная линия для разделения -->

{% for item in page_obj %}
<!-- Цикл для вывода каждого товара из списка по данному тегу -->

    <a href="{% url 'store:item_details' item.slug %}"><b>{{ item.title }}</b></a>
    <!-- Ссылка на страницу с деталями товара и его заголовок -->

    <p><span class="image left">
        <!-- Блок с изображением товара -->

        {% if item.image %}
            <!-- Проверка наличия изображения товара -->
            <img src="{{ item.image.url }}" alt="" style="max-width: 200px; max-height: 200px;"/>
            <!-- Вывод изображения с заданными максимальными размерами -->
        {% else %}
            <!-- Если изображение отсутствует, выводим запасное изображение -->
            <img src="{% static "images/pic01.jpg" %}" alt="" />
        {% endif %}

        <a href="{% url 'cart:add_to_cart' item.slug %}" class="button small" style="margin-top:10px;">
            Добавить в корзину</a>
        <!-- Ссылка для добавления товара в корзину -->

        </span>
    </p>
    <p>{{ item.description }}</p>
    <!-- Вывод описания товара -->

    {% if item.old_price %}
        <!-- Проверка наличия старой цены товара -->
        <p>Старая цена: <s>{{ item.old_price }} рублей</s>
        Новая цена: <b>{{ item.price }}</b> рублей </p>
        <!-- Вывод старой и новой цен товара -->
    {% else %}
        <!-- Если старой цены нет, выводим только новую цену -->
        <p>Цена: <b>{{ item.price }}</b> рублей </p>
    {% endif %}

    {% if not forloop.last %}<hr>{% endif %}
    <!-- Если это не последний товар в списке, выводим горизонтальную линию -->

{% endfor %}
<!-- Завершение цикла для вывода товаров -->

{% endblock %}
<!-- Завершение блока content -->
