{% extends "base.html" %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

{% load static %}
<!-- Загрузка тега static для работы с статическими файлами -->

    <h2>Список всех категорий</h2>
    <!-- Заголовок страницы -->

    <hr>
    <!-- Горизонтальная линия для разделения -->

{% for tag in page_obj %}
<!-- Цикл для вывода каждой категории -->

    <a href="{% url 'store:tag_details' tag.slug %}"><b>{{ tag.name }}</b></a>
    <!-- Ссылка на страницу с деталями категории и ее название -->

    <p><span class="image ">
        <!-- Блок с изображением категории, выравненным справа -->

        {% if tag.image %}
            <!-- Проверка наличия изображения категории -->
            <img src="{{ tag.image.url }}" alt="" style="width: 200px; height: 200px;"/>
            <!-- Вывод изображения с заданными размерами -->
        {% else %}
            <!-- Если изображение отсутствует, выводим запасное изображение -->
            <img src="{% static "images/pic14.jpg" %}" alt="" />
        {% endif %}

    </span>{{tag.description}}{{tag.description}}</p>
    <!-- Вывод описания категории -->

    {% if not forloop.last %}<hr>{% endif %}
    <!-- Если это не последняя категория в списке, выводим горизонтальную линию -->

{% endfor %}
<!-- Завершение цикла для вывода категорий -->

{% endblock %}
<!-- Завершение блока content -->
