{% extends 'base.html' %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

  <h1>Извините, Ваш отзыв был не обработан =(</h1>
  <!-- Заголовок страницы с извинением за необработанный отзыв -->

  <p>К сожалению, Ваше сообщение не было обработано. Возможно, форма не была корректно заполнена.</p>
  <!-- Текстовое сообщение о возможной причине необработки отзыва -->

  <p>Если же Вы уверены что форма заполнена корректно, свяжитесь с нами по почте или по социальным сетям. Ссылки на них расположены внизу страницы.</p>
  <!-- Подсказка пользователю о возможности связаться по другим каналам для уточнения информации -->

{% endblock %}
<!-- Завершение блока content -->
