{% extends 'base.html' %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

  <h1>Спасибо за отзыв!</h1>
  <!-- Заголовок страницы с благодарностью за отправленный отзыв -->

  <p>Ваше сообщение уже принято в обработку. В ближайшее время мы свяжемся с Вами.</p>
  <!-- Текстовое сообщение о том, что отзыв успешно отправлен и будет обработан в ближайшее время -->

{% endblock %}
<!-- Завершение блока content -->
