{% extends 'base.html' %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

  <h1>Вы успешно вышли из системы</h1>
  <!-- Заголовок страницы, уведомляющий пользователя о успешном выходе из системы -->

  <p>Вернуться на <a href="{% url 'users:login' %}">страницу входа</a>.</p>
  <!-- Сообщение с ссылкой на страницу входа, куда пользователь может вернуться -->

{% endblock %}
<!-- Завершение блока content -->
