{% extends 'base.html' %}
<!-- Наследование от базового шаблона base.html -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

<h1>Ваш профиль</h1>
<!-- Заголовок раздела с профилем пользователя -->

<p>Здравствуйте, {{ request.user.get_username }}. Всего у вас <strong>{{ request.user.orders.count }}</strong> заказов.</p>
<!-- Приветственное сообщение с именем пользователя и количеством его заказов -->

<p>Ваши заказы: <a href="{% url 'users:user_orders' %}">Перейти к заказам</a></p>
<!-- Ссылка для перехода к странице с заказами пользователя -->

<p>Если вы хотите выйти из системы: <a href="{% url 'users:logout' %}">Выйти</a></p>
<!-- Ссылка для выхода из учетной записи -->

<p>Если вы хотите сменить пароль: <a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
<!-- Ссылка для перехода к форме смены пароля -->

{% endblock %}
<!-- Завершение блока content -->
