{% extends "base.html" %}
<!-- Наследование от базового шаблона base.html -->

{% load static %}
<!-- Загрузка статических файлов -->

{% block css %}
<!-- Начало блока css для подключения CSS стилей -->

<link rel="stylesheet" href="{% static "assets/css/profile.css"%}" />
<!-- Подключение CSS файла для стилизации профиля пользователя -->

{% endblock %}
<!-- Завершение блока css -->

{% block content %}
<!-- Начало блока content, который будет вставлен в блок content базового шаблона -->

<h1>Ваши заказы</h1>
<!-- Заголовок раздела с заказами пользователя -->

{% if orders %}
<!-- Проверка на наличие заказов у пользователя -->

  {% for order in orders %}
  <!-- Цикл для перебора всех заказов пользователя -->

  <div class="order-wrapper">
    <!-- Обертка для каждого заказа -->

    <div class="order-header">
      <!-- Заголовок заказа с адресом доставки и статусом -->

      <p>Адрес: {{ order.shipping_address }}</p>
      <!-- Отображение адреса доставки -->

      <p><strong>Статус заказа: {{ order.get_status_display }}</strong></p>
      <!-- Отображение статуса заказа с использованием метода get_status_display для получения человеко-читаемого представления статуса -->

    </div>

    <div class="table-wrapper">
      <!-- Обертка для таблицы с товарами в заказе -->

      <table class="alt">
        <!-- Таблица со стилем alt для красивого отображения -->

        <thead>
          <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
          </tr>
        </thead>

        <tbody>
          <!-- Тело таблицы, где отображаются товары в заказе -->

          {% for order_item in order.items.all %}
          <!-- Цикл для перебора всех товаров в текущем заказе -->

          <tr>
            <!-- Строка таблицы для каждого товара -->

            <td>{{ order_item.item.title }}</td>
            <!-- Отображение названия товара -->

            <td>{{ order_item.quantity }}</td>
            <!-- Отображение количества товара -->

            <td>{{ order_item.total_price }}</td>
            <!-- Отображение общей цены за данный товар -->

          </tr>
          {% endfor %}
          <!-- Завершение цикла для перебора товаров в заказе -->

        </tbody>

        <tfoot>
          <!-- Нижний колонтитул таблицы -->

          <tr>
            <td colspan="2"></td>
            <!-- Пустая ячейка -->

            <td><b>{{ order.total_price }}</b></td>
            <!-- Общая сумма заказа -->

          </tr>

        </tfoot>

      </table>
      <!-- Завершение таблицы -->

    </div>
    <!-- Завершение обертки для таблицы -->

  </div>
  <!-- Завершение обертки для каждого заказа -->

    {% if not forloop.last %}<hr>{% endif %}
    <!-- Добавление горизонтальной линии между заказами, если текущий заказ не последний -->

  {% endfor %}
  <!-- Завершение цикла для перебора всех заказов -->

{% else %}
<!-- Если у пользователя нет заказов -->

  <p>У вас пока нет заказов.</p>
  <!-- Сообщение о том, что у пользователя нет заказов -->

{% endif %}
<!-- Завершение условия наличия заказов -->

{% endblock %}
<!-- Завершение блока content -->
